*, *::after, *::before {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    --primary-color: #ff4b36;
    --secondary-color: #08104d;
    --text-color: #666a80;
}

header, section {
    padding-left: 6%;
    padding-right: 6%;
}

h1, h2, h3 {
    font-size: 40px;
    font-weight: 700;
    color: var(--secondary-color);
    letter-spacing: -.05em;
    line-height: 1;
}

h1 > span, h2 > span {
    color: var(--primary-color);
}

h3 {
    font-size: 27px;
    line-height: 1.2;
}

p {
    color: var(--text-color);
    font-size: 15px;
    line-height: 1.5;
}

.btn-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-group > a:last-of-type {
    margin-top: 1em;
}

@media (min-width: 420px) {
    .btn-group > a:last-of-type {
        margin-top: unset;
        margin-left: 1em;
    }
}

.btn {
    color: #fff;
    background-color: var(--primary-color);
    padding: 20px 38px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: .03em;
    display: inline-block;
    outline: none;
    border: none;
    appearance: none;
}

.btn::after {
    content: "\27F6";
    margin-left: .5em;
    display: inline-block;
    transform: scaleX(1.5);
    transform-origin: left center;
}

.btn-secondary {
    background-color: var(--secondary-color);
}

.img-group {
    position: relative;
    /*background-color: green;*/
}

.img-group img {
    position: absolute;
}


/******************/
/*     HEADER     */
/******************/
header {
    height: 70px;
    border-bottom: 1px solid #d7e3f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 35px;
}

header nav button {
    position: relative;
    width: 58px;
    height: 58px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
}

@keyframes line-animation {
    0% {
        width: 50%;
    }
    50% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

header nav button span {
    position: absolute;
    height: 1px;
    width: 50%;
    background-color: #fff;
    border-radius: 12px;
}

header nav button:hover span {
    animation-name: line-animation;
    animation-timing-function: ease-out;
    animation-duration: .4s;
    animation-delay: .1s;
}

header nav button span:first-of-type {
    transform: translateY(-5px);
    animation-delay: 0s;
}

header nav button span:last-of-type {
    transform: translateY(5px);
    animation-delay: .2s;
}

header nav ul {
    position: absolute;
    display: none;
    width: 100%;
    list-style: none;
    background-color: #fff;
    transform: translateY(-100%);
    left: 0;
    right: 0;
    padding: .2em 6%;
    border-bottom: 1px solid #d7e3f7;
    transition: .3s ease-in;
}

header nav ul.show-nav {
    display: block;
    transform: translateY(0%);
}

header nav li a {
    display: block;
    padding: .7em 0;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

header nav li:not(:last-of-type) a {
    border-bottom: 1px solid #d7e3f7;
}

header nav li a.active {
    color: var(--primary-color);
}

@media (min-width: 1024px) {
    header {
        height: 100px;
        border-bottom: none;
    }

    header img {
        height: 70px;
    }

    header nav button {
        display: none;
    }

    header nav ul {
        position: relative;
        width: unset;
        list-style: none;
        background-color: unset;
        transform: unset;
        left: unset;
        right: unset;
        padding: unset;
        border-bottom: unset;
        transition: unset;
        z-index: unset;

        display: flex;
    }

    header nav li a {
        display: block;
        padding: 2.5em 2em;
        font-size: 16px;
        font-weight: 600;
        color: var(--secondary-color);
        text-decoration: none;
        position: relative;
        transition: .2s ease-in;
    }

    header nav li:not(:last-of-type) a {
        border-bottom: unset;
    }

    header nav li a.active {
        color: var(--primary-color);
    }

    header nav li a.active::before {
        position: absolute;
        content: "\27F6";
        transform: scaleX(1.5) translateX(-140%);
        transform-origin: left center;
    }

    header nav li a:hover:not(.active) {
        color: var(--primary-color);
    }

    @keyframes arrow-to-right {
        0% {
            opacity: 0;
            transform: scaleX(1.5) translateX(-200%);
        }
        100% {
            opacity: 1;
            transform: scaleX(1.5) translateX(-140%);
        }
    }

    header nav li a:hover:not(.active)::before {
        position: absolute;
        content: "\27F6";
        transform: scaleX(1.5) translateX(-140%);
        transform-origin: left center;
        opacity: 0;
        animation-name: arrow-to-right;
        animation-duration: .2s;
        animation-timing-function: linear;
        animation-fill-mode: forwards, backwards;
    }
}


/******************/
/*     FOOTER     */
/******************/
footer {
    background-color: #040826;
}

footer section:nth-of-type(1) {
    padding-top: 80px;
    padding-bottom: 30px;
}

footer section:nth-of-type(1) ul {
    list-style: none;
}

footer section:nth-of-type(1) ul li:not(:last-of-type) {
    margin-bottom: 1.5em;
}

footer section:nth-of-type(1) ul a {
    color: #cfd3e5;
    text-decoration: none;
    display: flex;
    transition: .2s ease-in;
}

footer section:nth-of-type(1) ul a:hover {
    color: #ff4b36;
}

footer section:nth-of-type(1) ul a::before {
    margin-right: 5px;
}

footer section:nth-of-type(1) ul a:nth-of-type(1)::before {
    content: "\e094";
}

footer section:nth-of-type(1) ul a:nth-of-type(2)::before {
    content: "\e600";
}

footer section:nth-of-type(1) ul a:nth-of-type(3)::before {
    content: "\e096";
}

footer section:nth-of-type(1) ul a:nth-of-type(4)::before {
    content: "\e00b";
}

footer section:nth-of-type(2) {
    padding-top: 30px;
    padding-bottom: 80px;
}

footer section:nth-of-type(2) h4 {
    color: #fff;
    font-size: 15px;
    margin-bottom: 1em;
}

footer section:nth-of-type(2) ul {
    color: #fff;
    margin-left: 6%;
}

footer section:nth-of-type(2) ul li:not(:last-of-type) {
    margin-bottom: 1.5em;
}

footer section:nth-of-type(2) ul a {
    color: #cfd3e5;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: .2s ease-in;
}

footer section:nth-of-type(2) ul a:hover {
    color: #ff4b36;
}

footer section:nth-of-type(2) ul a em {
    display: block;
    font-size: 13px;
    color: #737580;
    font-style: normal;
    margin-top: 2px;
}

footer section:nth-of-type(3) {
    background-color: #0b0b0d;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer section:nth-of-type(3) p {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}